<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="sfera-intercom-plugin"
    version="1.0.0">
    <name>SferaIntercom</name>
    <description>Sfera Intercom Plugin</description>
    <author>Alty</author>
    <license>Apache 2.0 License</license>
    <repo>https://github.com/snike1985/cordova-intercom-plugin</repo>

    <js-module src="www/intercom.js" name="intercom">
        <!-- Here module.exports gets inserted into the window object as window.SferaIntercom -->
        <clobbers target="SferaIntercom" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Intercom" >
                <param name="android-package" value="com.example.Intercom"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/example/Intercom.java" target-dir="src/com/example/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Intercom">
                <param name="ios-package" value="CDVIntercom"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVIntercom.h" />
        <source-file src="src/ios/CDVIntercom.m" />
    </platform>

</plugin>
