<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-intercom-plugin"
    version="1.0.0">
    <name>Intercom</name>
    <description>Intercom Cordova Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,intercom</keywords>

    <js-module src="www/plugin.js" name="plugin">
        <clobbers target="plugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaIntercomPlugin" >
                <param name="android-package" value="org.apache.cordova.intercom.Plugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/CordovaIntercomPlugin.java" target-dir="src/org/apache/cordova/intercom" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaIntercomPlugin">
                <param name="ios-package" value="CordovaIntercomPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CordovaIntercomPlugin.h" />
        <source-file src="src/ios/CordovaIntercomPlugin.m" />
    </platform>

</plugin>
